*{
    margin: 0;
    padding:0;
}
body {
    font-family: 'Athiti';font-size: 22px;
    
}
nav{
  width: 100%;
}

/*navegacion header*/

.hidden-a {
  display:none;
}
ul {
    list-style-type: none;
    margin: 0;    
    overflow: hidden;
    background-color: rgb(195, 194, 194);
}
  
li {
    float: left;
}
  
a, .dropbtn {
    display:flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
} 

.logo-img a:hover {
    background-color: rgb(195, 194, 194);
}
.logo-img {
    margin: 0px 50px 0px 50px
}

  
  .dropdown-content {
  display: none;
  box-shadow: 6px 8px 18px 0px rgba(0,0,0,0.2);
  position: absolute;
  background-color: #f9f9f9;  
  
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
  
 
   
img{
  width: 150px;
    
}

/* Productos*/

.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
   
}

.product{  
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border: 1px solid black;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 1rem;
  text-align: left;   
  
}
.grid-products {
  width: 75%;
  display:flex;
  margin: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;    
  
}
.product img {
  width: 200px;
}
.left-panel{
  width: 15%;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(204, 109, 46);
}
.product button{
  background-color: rgb(206, 201, 201);
  width: 100%;
  padding: 0.4rem;
  border:none;
  font-weight: 700;
}
.footer{  
  padding: 1.5rem;
}
.yellow {
  color: rgb(202, 199, 13);
  
}

/** @media **/

@media (max-width: 1060px) {

  .left-panel{
    display: none;
  
  }
  .grid-products {
    width: 100%;
    display:flex;
    margin: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-around;    
    
  }
}
@media (max-width: 925px) {
 
   .hidden-a {
   display: inline;
   
    
  }
  .menu-media{
    display: flex;
    flex-direction: row;
    background-color: rgb(195, 194, 194);
    justify-content: space-between;
  }
  .logo-img {
    margin:auto;
  }

 
  .show-hidde{
    height: 100%;
    width: 100%;
    position:fixed;
    left:-100%;
    background-color: #f1f1f1;
  }
  
  li {
    display: block;
    float:none;    
   
  }
  
}